@model PeliculasWeb.Models.UsuarioM
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Registro de usuarios</h1>

<div class="row">
    <div class="col-sm-6 offset-3">
        <form asp-action="Registro" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Usuario">Usuario:</label>
                <input type="text" asp-for="NombreUsuario" class="form-control" placeholder="Ingresa el usuario" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Ingresa la contraseña" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn-primary w-100">Registrarse</button>
        </form>

    </div>
</div>
